@import "tailwindcss";

body {
}

.page-layout {
  display: flex;
  flex-direction: row;
  height: 100vh; /* full viewport */
  width: 100%;
}

.sidebar {
  width: 450px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 0 1rem 1rem 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.map-container {
  flex: 1;
  height: 100%;
}